<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PingDropMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PingDropMonitor.Properties.Settings>
            <setting name="ipAddresses" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1.1.1.1</string>
                        <string>8.8.8.8</string>
                        <string>208.67.222.222</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="timeOutMS" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="sleepMS" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="outputFolder" serializeAs="String">
                <value>D:\Google Drive\PingDropMonitor</value>
            </setting>
            <setting name="outputEvery" serializeAs="String">
                <value>12</value>
            </setting>
        </PingDropMonitor.Properties.Settings>
    </applicationSettings>
</configuration>